/*高度复用的css样式*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.text-center{
    text-align: center;
}

b, strong {
    font-weight: 700;
}

.txt-indent-20{
    text-indent: 20px;
}