/*高度复用的css样式*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.text-center{
    text-align: center;
}

b, strong {
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

.txt-indent-20{
    text-indent: 20px;
}

.padding-md{
    padding: 1rem;
}

.margin-top-md{
    margin-top: 1rem;
}

.margin-top-xd{
    margin-top: 2rem;
}


.flex{
    display: flex;
}

.flex-justify-center{
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

