html * {
    font-family: 'Microsoft YaHei',Arial,'Hiragino Sans GB',md-hsgb,'WenQuanYi Micro Hei',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    /* important for the full-width image to work */
    height: 100%;
    min-width: 1024px;
}
html{
    font-size: 62.5%;  /* 无懈可击到web设计 做法 */
}
body {
    font-size: 1.6rem;
}

a {
    color: white;
    text-decoration: none;
}
/*-------------------*/

header{
    height: 460px;
    background-color:#fc8039;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../assets/bg.png") ;
    background-size: contain;
    color: white;
}

.header-wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 100px;
}

.logo{
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding-top: 10px;
}

.logo-icon{
    width: 75px;
    height: 68px;
    transform: scale(0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../assets/logo.png");
    background-size: cover;
    /*margin-right: 10px;*/
}

.logo-title{
    font-size: 2.3rem;
}

.logo-link{
    font-size: 1.4rem;
    padding-left: 3px;
    letter-spacing: 1px;
}

.banner-text{
    padding-left: 10px;
    margin-top: 100px;
}

.banner-title{
    font-size: 4rem;
    margin-bottom: 14px;
}

.banner-desc{

    font-size: 1.5rem;
    line-height: 1.8;
}


#contactUs{

}

#aboutUs{
    background-color: #fafafa;
}

#aboutUs,#contactUs{
    padding-top: 70px;
    padding-bottom: 65px;
}

.title{
    text-align: center;
    font-size: 2rem;
    max-width: 100px;
    margin: 0 auto 40px;
}

.title:hover hr{
    transform: scaleX(1);
}

#aboutUs .table-cell{
    width: 25%;
}

#contactUs .table-cell{
    width: 33.3%;
}

hr{
    height: 2px;
    border: 0;
    border-top: 2px solid orange;
    margin: 1em 0;
    padding: 0;
    transition: transform 0.2s linear;
    transform: scaleX(0.4);
}

.table{
    display: table;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

.table-cell{
    display: table-cell;
    text-align: center;
}

.about-desc {
    text-align: left;
    display: inline-block;
    max-width: 130px;

}

.about-cell-img,.contact-cell-img{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.about-cell-img{
    width: 80px;
    height: 80px;
}

.contact-cell-img{
    width: 80px;
    height: 80px;
}

.img-borrow{
    background-image: url("../assets/icon1.png");
}
.img-request{
    background-image: url("../assets/icon2.png");
}
.img-quota{
    background-image: url("../assets/icon3.png");
}
.img-people{
    background-image: url("../assets/icon4.png");
}
.img-phone{
    background-image: url("../assets/icon5.png");
}

.img-mail{

    background-image: url("../assets/icon6.png");
}

.img-register-location{
    background-image: url("../assets/icon7.png");
}

em.block{
    padding: 20px 0;
    font-size: 1.8rem;
    display: block;
}

.contact-desc:last-child{
    font-size: 1.4rem;
}

/*footer*/
footer{
    font-size: 1.8rem;
    padding: 2.4rem 0;
    line-height: 1.8;
    color: white;
    background-color: #484848;
    text-align: center;
}
