html * {
    font-family: 'Microsoft YaHei', Arial, 'Hiragino Sans GB', md-hsgb, 'WenQuanYi Micro Hei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    /* important for the full-width image to work */
    height: 100%;
}

html {
    font-size: 62.5%; /* 无懈可击到web设计 做法 */
}

body {
    font-size: 1.6rem;
    background-color: #f10a5a;
}

.fixed-logo {
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    z-index: 2;
    width: 18vw;
}

.fixed-logo img {
    max-width: 100%;
}

section {
    color: white;
}

section h2 {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
}

section hr {
    width: 5rem;
    color: white;
    border: 1px solid white;
    margin-top: 0.8rem;
    margin-bottom: 0;
}

header {
    position: relative;
}

.banner_bg {
    display: block;
    max-width: 100%;
}

.banner_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, 0%);
    transform-origin: 0 0;
    max-width: 66vw;
    max-height: 80%;
    transition: transform 0.2s;
}

.banner_btn:hover {
    cursor: pointer;
    transform: scale(1.02) translate(-50%, 0%);
}

.phone3 {
    max-width: 80vw;
}

#fast-desc {
    background: rgba(12, 11, 12, 0.5);
    padding: 0.5rem;
}

#fast-desc li:not(:last-child) {
    padding-right: 1.2rem;
}

.center-box {
    border: 3px solid yellow;
    border-radius: 3px;
    max-width: 80vw;
    background-color: white;
}

#gift {
    color: black;
}

#gift div li {
    line-height: 1.6;
}

form label {
    white-space: nowrap;
}

form label span {
    color: red;
    margin-left: 0.5rem;
}

.case-img {
    max-width: 100%;
}

.erweima {
    max-width: 30vw;
}

/*footer*/
footer {
    font-size: 1.4rem;
    padding: 4rem 0 3rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.global_bg{
    background: url('../assets/flower_bg.png') center top;
    background-size: cover;
}

@media only screen and (max-width: 736px) {
    html {
        /*font-size: 54.6875%;*/
        font-size: 46.875%;
    }

    header {
        max-height: 300px;
    }
}

